# Dépendances Python de l’add-on
python-enocean>=0.7.2           # communication EnOcean
beautifulsoup4>=4.12.0          # optionnel (mais on garde)
lxml>=4.9.0                     # optionnel (mais on garde)
